.wrapper {
    margin: 0 auto;
    border: black solid;
    width: 100px;
    height: 100px;

}

/*.root{*/
/*    background: rgb(2,0,36);*/
/*    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(116,47,145,1) 100%, rgba(0,212,255,1) 100%);*/
/*}*/

